Source: j4status
Section: unknown
Priority: optional
Maintainer: Radu Andries <admiral0@tuxfamily.org>
Build-Depends: debhelper (>= 9), dh-autoreconf, libupower-glib-dev, libsensors4-dev, libpulse-dev, docbook-xsl, libglib2.0-dev
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/j4status.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/j4status.git;a=summary

Package: j4status
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
